extend layout

block content
   form(name='rsvp', method='POST', action='/rsvp')
      div.input
         input(type='text', placeholder='Name', name='name')
      span.label Attending
      div.checker
         input(type='checkbox', value='None', id='checker1', name='check' checked)
         label(for='checker1')
      span.label Not Attending
      div.checker
         input(type='checkbox', value='None', id='checker2', name='check' checked)
         label(for='checker2')
      div.input
         input(type='text', placeholder='Number of Invites Accepted', name='num_attending')
      div.actions
         input(type='submit', class ='btn', value='RSVP')
