extend layout

block content
   form(name='rsvp', method='POST', action='/rsvp')
      div.input
         span.label Name
         input(type='text', name='name')
      div.input
         span.label Email
         input(type='text', name='email')
      div.input
         span.label Party Size
         input(type='text', name='num_attending')
      div.actions
         input(type='submit', class ='btn', value='RSVP')
