extend layout

block content
   h1.title SHAW & CARTER WEDDING
   script(type='text/javascript').
      function cbChange(obj) {
         var cbs = document.getElementsByClassName("cb");
         for (var i = 0; i < cbs.length; i++) {
              cbs[i].checked = false;
         }
         obj.checked = true;
      }
   form(name='rsvp' method='POST' action='/rsvp')
      div.input
         input(type='text' placeholder='Name' name='name')
      span.label Attending
      div.checker
         input(class='cb' onchange="cbChange(this)" type='checkbox' value='true' id='attending' name='attending' checked)
         label(for='attending')
      span.label Not Attending
      div.checker
         input(class='cb' onchange="cbChange(this)" type='checkbox' value='true' id='not_attending' name='not_attending' unchecked)
         label(for='not_attending')
      div.input
         input(type='text' placeholder='Number of Confirmed Invites' name='confirmed_invites')
      div.actions
         input(type='submit' class ='btn' value='RSVP')
