html, body, div, block
   height 100%

body
   background-color #2B3856
   background linear-gradient(#2B3856, #6F7E9F)
   background -webkit-linear-gradient(#2B3856, #6F7E9F)

@font-face
   font-family Scriptina
   font-style normal
   src url(/fonts/SCRIPTIN.ttf)

@font-face
   font-family Lato
   font-style normal
   src url(/fonts/Lato-Regular.ttf)

.container
   display block
   position relative
   top 50%
   transform translateY(-50%)
   width 700px
   height 100%
   margin 0 auto

.form
   display block
   width auto
   margin 30px auto

.label,
.actions
   display block
   color white

.input
   display block
   margin 20px auto
   color black

   &:first-child
      margin-top 50px

.label
   font-family 'Lato'
   font-size 18px

span[class="label"]
   width 166px
   margin 0 auto
   text-align left

input[type="text"]
   display block
   margin 0 auto
   padding 10px
   border none
   border-bottom solid 2px #c9c9c9
   border-left solid 2px #c9c9c9
   border-radius 3px
   color black
   transition border 0.3s

input[type="text"]:focus,
input[type="text"].focus
   border-bottom solid 2px #969696
   border-left solid 2px #969696

.btn
   display block
   width 100px
   margin 0 auto
   background-color #E69E56
   font-family 'Lato'

h1.title
   color #a35d17
   font-family 'Scriptina'
   font-size 70px
   text-align center
