html, body, div, block
   height 100%

body
   height 100%
   background-color #2B3856
   background linear-gradient(#2B3856, #6F7E9F)
   background -webkit-linear-gradient(#2B3856, #6F7E9F)

@font-face
   font-family 'Scriptina'
   font-style normal
   src url(/fonts/SCRIPTIN.ttf)

@font-face
   font-family 'Torque-Ultra'
   src url(/fonts/Torque-Ultra.otf)

@font-face
   font-family 'Torque-Medium'
   src url(/fonts/Torque-Medium.otf)

.container
   display block
   position relative
   top 50%
   transform translateY(-50%)
   width 700px
   height 500px
   margin 0 auto

form[name="rsvp"]
   display block
   position relative
   width 100%
   margin 70px auto 0 auto
   text-align center

.actions
   display block
   color white
   margin-top 50px

.label
   font-size 13px
   font-family 'Torque-Medium'

div[class="input"]
   display block
   margin 20px auto
   color black

   &first-child
      margin-top 70px

input[type="text"]
   display block
   width 300px
   height 60px
   background-color #FFF
   margin 0 auto
   padding 10px
   padding-left 25px
   border none
   transition border 0.3s
   font-family 'Torque-Medium'

input[type="text"].focus,
input[type="text"].focus
   border-bottom solid 2px #969696

.btn
   display block
   width 160px
   height 60px
   margin 0 auto
   background-color #E69E56
   border 0
   border-bottom solid 3px #a35d17
   border-radius 0
   color black
   font-size 20px
   font-family 'Torque-Ultra'
   transition background-color 0.2s

   &:hover
      background-color #ebb177

.checker
   display inline-block
   width 20px
   position relative
   margin 15px 5px 15px 3px

   label
      width 20px
      height 20px
      cursor pointer
      position absolute
      top 0
      left 0
      background linear-gradient(#222, #45484d)
      box-shadow inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4)

      &:after
         content ''
         width 12px
         height 8px
         position absolute
         top 4px
         left 4px
         border 3px solid #fcfff4
         border-top none
         border-right none
         background transparent
         opacity 0
         transform rotate(-45deg)
         transition opacity 0.2s

      &:hover::after
         opacity 0.3

   input[type=checkbox]
      visibility hidden

      &:checked + label:after
         opacity 1

h1.title
   color #a35d17
   font-family 'Scriptina'
   font-size 70px
   text-align center

a
   display block
   color white
   height 30px
   width 100px
   margin 50px auto
   font-family 'Torque-Medium'
   font-size 20px
   text-align center
